# 数据集
chinese-poetry-master

# Go
backend/bin
backend/pkg
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/go.work

# Node
frontend/node_modules
frontend/dist
frontend/.vite

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Claude
.claude
